#root {
  max-width: 600px;
  margin: 0 auto;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-content {
  background: white;
  border-radius: 2px;
  padding: 30px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.09);
}

h1 {
  color: #333;
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 28px;
}
