.todo-list {
    background: white;
    border-radius: 2px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 400px;   
}
.todo-list-item__wrapper{
    height: 480px;
}
.todo-list-item {
    max-height: 480px;
    overflow-y: auto;
}

.todo-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #e0e0e0;

    font-size: 14px;
    line-height: 16.8px;
    font-weight: 400;
}

.todo-btn-clear{
    background-color: transparent;
    text-decoration: underline;
    font-weight: 500;
}

.todo-stats p {
    margin: 0;
    color: #666;
}

.todos {
    list-style: none;
    padding: 0;
    margin: 0;
}

.empty-message {
    text-align: center;
    color: #999;
    padding: 20px;
    font-style: italic;
}